:root {
  --brand-blue: #2196f3;
  --background-grey: #2f303a;
  --light-grey: #757575;
  --lighter-grey: #f5f4fa;
  --darkest: #212121;
  --white: #fff;
  --black: #000;
  --transparent-white: rgba(255, 255, 255, 60%);
  --line-light: #ececec;
  --leaflet-border: #eee;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--darkest);
  background-color: var(--white);
  letter-spacing: 0.03em;
}
button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list {
  list-style: none;
}
.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 26px;
  color: var(--brand-blue);
  line-height: 1.2;
}
.logo-upper {
  color: var(--black);
}
.logo-bottom {
  color: var(--white);
}
.line {
  border-top: 1px solid var(--line-light);
}
.tel-mail a {
  text-decoration: none;
  font-weight: 500;
  color: var(--light-grey);
  letter-spacing: 0.02em;
  line-height: 1.1;
  text-align: right;
}
.tel-mail a:hover {
  color: var(--brand-blue);
}
.tel-mail a:focus {
  color: var(--brand-blue);
}
.nav-link {
  text-decoration: none;
  color: var(--darkest);
  font-weight: 500;
  letter-spacing: 0.02em;
}
.nav-link:hover {
  color: var(--brand-blue);
}
.nav-link:focus {
  color: var(--brand-blue);
}
.slogan-background {
  background-color: var(--background-grey);
}
.slogan {
  display: block;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4;
  color: var(--white);
  letter-spacing: 0.06em;
  width: 696px;
}
.button-order {
  background-color: var(--brand-blue);
  font-size: 16px;
  font-weight: 700;
  color: var(--white);
  letter-spacing: 0.06em;
  line-height: 1.9;
  padding: 10px 41px;
  border: 0;
  border-radius: 4px;
  margin-top: 30px;
}
.advantage {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.1;
}
.advantage-text {
  line-height: 1.7;
  color: var(--light-grey);
  margin-top: 10px;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
}
.team-background {
  background-color: var(--lighter-grey);
}
.member-bg {
  background-color: var(--white);
}
.member {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 1.2;
  margin-top: 30px;
}
.position {
  font-size: 16px;
  color: var(--light-grey);
  line-height: 1.2;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.bottom-background {
  background-color: var(--background-grey);
}
.address-links a {
  font-style: normal;
  text-decoration: none;
  line-height: 1.7;
}
.address-links a:hover {
  color: var(--brand-blue);
}
.address-links a:focus {
  color: var(--brand-blue);
}
.bottom-address {
  color: var(--white);
}
.bottom-tel-mail {
  color: var(--transparent-white);
}
.filter button {
  font-size: 16px;
  font-weight: 500;
  color: var(--darkest);
  letter-spacing: 0.03em;
  line-height: 1.6;
  background-color: var(--lighter-grey);
  padding: 6px 22px;
  border: 0;
  border-radius: 4px;
}
.filter button:hover {
  background-color: var(--brand-blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter button:focus {
  background-color: var(--brand-blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter button:active {
  background-color: var(--brand-blue);
  color: var(--white);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.project-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 4px;
  border-left: 1px solid var(--leaflet-border);
  border-right: 1px solid var(--leaflet-border);
}
.project-type {
  font-size: 16px;
  color: var(--light-grey);
  line-height: 1.9;
  padding: 0px 24px 20px;
  border-left: 1px solid var(--leaflet-border);
  border-right: 1px solid var(--leaflet-border);
  border-bottom: 1px solid var(--leaflet-border);
}
.menu-container {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}
.header-line {
  border-bottom: 1px solid var(--line-light);
}
.logo-menu-container {
  display: flex;
  gap: 93px;
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 46px;
}
.tel-mail-container {
  display: flex;
  align-items: center;
  gap: 50px;
}
.slogan-box {
  padding: 200px 252px;
  text-align: center;
}
.advantage-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 94px;
  gap: 30px;
}
.advantage-item {
  flex-basis: calc((100% - 90px) / 4);
}
.jobs-margin {
  margin-top: 94px;
}
.jobs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
.jobs-item {
  width: 370px;
}
.team-margin {
  margin-top: 94px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}
.team-item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.foot-margin {
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-margin {
  margin-top: 20px;
}
.address-container {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.filters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-top: 33px;
  padding-bottom: 16px;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 34px;
  margin-bottom: 155px;
}
